/* Custom Styles for Spotify Recap Page */

/* Body Styles */
body {
  background-color: #f8f9fa; /* Light background color */
  color: #212529; /* Dark text color */
}

/* Navbar Styles */
.navbar {
  background-color: #1db954 !important; /* Spotify green */
}

.navbar-brand {
  color: #ffffff !important; /* White text color */
}

/* Carousel Styles */
.carousel-caption {
  background-color: rgba(29, 185, 84, 0.7); /* Transparent green background */
  color: #ffffff; /* White text color */
}

/* Music Genre Chart Styles */
#musicGenreChart {
  margin: auto;
  display: block;
}

/* Call to Action Styles */
.btn-primary {
  background-color: #1db954; /* Spotify green */
  border-color: #1db954; /* Spotify green */
}

.btn-primary:hover {
  background-color: #14843d; /* Darker green on hover */
  border-color: #14843d; /* Darker green on hover */
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens if needed */
}
